$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

//Google Fonts
@import url(https://https:fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Righteous);

h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #B21B18; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#B21B18, #B2716F); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#B21B18, #B2716F); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#B21B18, #B2716F); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#B21B18, #B2716F); /* Standard syntax */
  // background-image: url('/images/ironing_curtain.jpg');
}

.container {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 300px;
}

.containerWide {
  background: #FEF7F7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FEF7F7, #FEF8E2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FEF7F7, #FEF8E2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FEF7F7, #FEF8E2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FEF7F7, #FEF8E2); /* Standard syntax */
  border-radius: 10px 10px 10px 10px;
  margin-bottom: 100px;
  width:90%;
  margin-left:8%;
  height: auto;

}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

/* Custom page header */
.header {
  background-color: white;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2%;
  a {
    font-family: "Righteous";
    color: #31B0D5;
  }
  .logo{
    margin-left: 1%;
  }



  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;

  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footerBranding {
  padding-left: 5%;
  color: white;
  font-family: "Lato";
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #FE716F;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  h1 {
    font-family: "Permanent Marker";
    color: #B21B18;
  }
  .lead {
    font-family: "Righteous";
    color: #B21B18;
  }
}

/* About page */
.marketing {
  margin-left: 5%;
  width: 90%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  },

  .marketing {
    width: 90%;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  },





  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.form-group label {  
  font-family: "Righteous";
}

.checkbox-inline {
    font-family: "Lato";
    margin-left: 10%;
    width: 20%;
}

.checkbox-inline:hover{
 color: #B2716F;
}

//Panel that holds communist profiles in list view
.scrollBox {
  max-height: 540px;
  width: 100%;
  overflow: auto;
  border-radius: 0 0 10px 0;
  margin-top:-2.5%;
}


//Profile picture of communist as appears in the list view
.listviewPic{
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  width: 100%;
  border-color: #B2716F;
  border-color: black;
}

.oneThird {
  width: 10%;
}

//The box and glyphicons that overlay communist profiles on hover
.listedProfile .glyphiconBox {
  position: absolute;
  top: 30%;
  margin-top: -20%;
  left: 10%;
  z-index: 2;
  opacity: 0;
  width: 100%;
  float: none;
  display: table-cell;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.listedProfile *{
  vertical-align: middle;
  display: inline-block;
}

.glyphiconBox a {
  color: #CBFFDE;
  font-family: "Lato";
  font-size: 20px;
  display: block;
  opacity: .5;
}

.glyphiconBox a:hover{
  opacity: 1;
}

// .glyphicon:before {
//   margin-right: 25px;
 
// }

.listedProfile:after, .listedProfile:before {
  position:absolute;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/*The black filter*/
.listedProfile:after {
  content: '\A';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background:rgba(0,0,0,0.6);
}
/*The caption*/
.listedProfile:before {
  content: attr(data-content);
  font-size: 15px;
  text-transform: uppercase;
  width: 100%;
  color: #FFCDCB;
  z-index: 1;
  bottom: 0;
  padding: 4px 10px;
  text-alignment:center;
  background:black;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

/*Makes images black with caption and glyphbox appear on hover*/
.listedProfile:hover:after, .listedProfile:hover:before {
    opacity: 1;
  }

.listedProfile:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  .glyphiconBox{
    opacity: 1;
  }

}

//animations for hovering over communist profiles in listview
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.rotate {
  transition: all 0.5s ease-in-out;
}
.rotate:hover {
  transition: all 1s ease-in-out;
}

//Overriding bootstrap rows and columns to fix margins
//Removes padding between bootstrap columns. Used for images of communists in list view
.row.no-pad {
  margin-right:0;
  margin-left:0;

}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;

}


//left nav bar on list view
.leftNavBar {

  border-radius: 0 0 0 10px;
  //margin-top: -23%;
  margin-bottom: 10%;
  

  h3 {
    padding-top: 10px;
  }

  h1,h2,h3,h4,h5, a {
    padding-top: 10px;
  padding-left: 7%;
  color: black;
display: block;
}

.glyphicon:before {
  margin-right: 50%;

}
input {
  width: 75%;
  margin-left: 7%;
}

}


.deleteComrade:hover {
  color: red;
}

.buttonBar {
  margin-left: 38%;
  margin-bottom: 20px;
}

.profileBox {
  background-color: #FE716F;
  width:90%;
  height: 100%;
  margin-left:5%;
  margin-right: 5%;
  margin-bottom: 1%;
  border-radius: 10px 10px 10px 10px;
  padding-right: 5%;
  padding-left: 5%;
  overflow: hidden;
  padding-bottom: 3%;
  p{
    font-family: "Lato";
    font-size: 1.2em;
  }
  img {
    width: 35%;
    //margin-top: 5%;
    margin-right: 5%;
    border-radius: 25px 25px 25px 25px;
    float:left;
  }
  h2 {
    font-family: "Permanent Marker";
    color: #B21B18;
    text-align: center;
    margin-bottom: 5%;
  }
}

.myModal {
  
  font-family: "Lato";
  
}

.enterMessage{
  width: 40%;
}

.conversationBox{
  width:100%;

  height: 260px;
  background-color: #FEF7F7;
  overflow: auto;


  ul
    {
      padding-left:-10%;
      list-style-type: none;
      margin-bottom: 0px;

      li {

        margin-left: -12%;
        margin-right: -12%;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: "Lato";
        font-size: 1.2em;
      }

    }


  }

.userChat {
  color: #B21B18;
  width: 112%;
  background-color: #FEF7F7;
  padding-left: 5%;
}

.commyChat {
  color: #FE716F;
  width: 112%;
  background-color: cornsilk;
  padding-left: 5%;
}

.panel-danger{
  width: 50%;
  margin-left:50%;
  margin-bottom:-10px;
}

.panel-title{
  font-family: "Righteous";
  text-align: center;
}

.test{
 // background-color: green;
}

.aboutPic {
  margin-left: 30%;
  margin-bottom: 40px;
  margin-top: 5%;
  border-radius: 200px 200px 200px 200px;
}

.glyphicon{
  margin-left: 6%;
  margin-bottom: 2%;
  margin-right: 1%;
}
