<div class="containerWide">
	<div class="header">
		<ul class="nav nav-pills pull-right">
			<li><a href="#about">About</a></li>
			<li><a href="mailto:matthew.j.thrasher@gmail.com?subject=Comrades! Inquiry">Contact</a></li>
		</ul>
		<h3 class="logo"><a href="#/">comrades</a></h3>
	</div>
	<div class="row no-pad">
		<div class=" col-sm-2 col-sm-2">
			<div class="leftNavBar">

				
			<h3 ng-if = "!UserData.FirstName">Welcome!</h3>
			<h3 ng-if = "UserData.FirstName">Welcome, {{UserData.FirstName}}!</h3>
			<h4>Search:</h4> <input ng-model="query" class="form-control">

			<a href="" ng-click="filters = 'Strong Comrades'"><i class="glyphicon glyphicon-fire"></i>Strong </a>
			<a href="" ng-click="filters = 'Moderate Comrades'"><i class="glyphicon glyphicon-resize-horizontal"></i>Mild</a>
			<a href="" ng-click="filters = 'Weak Comrades'"><i class="glyphicon glyphicon-thumbs-down"></i>Weak</a>


			<a ng-click = "filters = ''" href=""><i class="glyphicon glyphicon-star"></i>All </a>
			<a ng-href="#listview/{{randomName}}"><i class="glyphicon glyphicon-flash"></i>Random</a>
			<a href="#registration"><i class=" glyphicon glyphicon-pencil"></i>Edit</a>
			</div>
		</div>
		<div class="col-sm-10 col-md-10">
			<div class = "scrollBox">

				<div class="row no-pad" ng-repeat="rows in chunkedData">

					<div data-content="{{communists.name}}" class = "listedProfile col-xs-4 col-sm-4 col-md-4" ng-repeat="communists in rows | filter:query | filter: filters">

						<a href="#listview/{{communists.name}}"><img class = "listviewPic" ng-src = "{{communists.image}}"></a>
						
						<span class = "glyphiconBox">
							<a ng-if="strongComrades(communists)[0]>1" href = "" ng-click="toggleModal(communists)" class="hidden-xs">	
								<i class="hidden-xs glyphicon glyphicon-fire" ></i>Strong Comrades
							</a>
							<a ng-if="strongComrades(communists)[0]==1" href = "" ng-click="toggleModal(communists)" class="hidden-xs">	
								<i class="hidden-xs glyphicon glyphicon-fire" ></i>Mild Comrades
							</a>
							<a ng-if="strongComrades(communists)[0]<1" href = "" ng-click="toggleModal(communists)" class="hidden-xs">	
								<i class="hidden-xs glyphicon glyphicon-fire" ></i>Weak Comrades
							</a>

							<a href = "#listview/{{communists.name}}">
								<i class="glyphicon glyphicon-envelope"></i>View
							</a>
							<a href="" ng-click="addToFavorites(communists[$index])" class="hidden-xs">
								<i id="favorite" ng-class="{'glyphicon glyphicon-star-empty':!favorited,
								'glyphicon glyphicon-star':favorited}" ng-click="favorited=!favorited" class="hidden-xs"></i>Favorite
							</a>
							<a href="" ng-click="delete(communists)" class = "hidden-xs deleteComrade">
								<i class="hidden-xs glyphicon glyphicon-remove"></i>Remove
							</a>
						</span> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<modal class="myModal" title="Comrades! The First International Dating Site for Communists" visible="showModal">
	<p>You and {{communist.name}} are {{communist.similarities}}!</p>

</modal>


