
<div class="containerWide">
	<div class="header">
	        <ul class="nav nav-pills pull-right">
	<!--           <li><a href="#edit">Edit</a></li>
	 -->          <li><a href="#about">About</a></li>
          <li><a href="mailto:matthew.j.thrasher@gmail.com?subject=Comrades! Inquiry">Contact</a></li>
	        </ul>
		<h3 class="logo"><a href="#/">comrades</a></h3>
	</div>
<div class="row no-pad">
<div class="leftNavBar col-md-2">
		<h3 ng-if = "!UserData.FirstName">Welcome!</h3>
			<h3 ng-if = "UserData.FirstName">Welcome, {{UserData.FirstName}}!</h3>
	<a href="#listview/{{randomName}}"><i class="glyphicon glyphicon-arrow-left"></i>Back</a>
</div>


<!-- <div ng-repeat="(key, value) in page.data.query.pages">
  <img ng-if="$index == 0" ng-src="{{value.thumbnail.source}}">
</div>
 -->
<div class="col-md-10">
	<div class="profileBox">
		
		<h2>{{communist.firstName}} {{communist.lastName}}</h2>

		<div class = "chatBox">
			
			<img ng-src="{{communist.image}}">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Chat</h3>
					</div>
			
					<div class ="conversationBox">
						<ul ng-repeat="entry in chunkedData">
							<li ng-repeat="message in entry" ng-if="$index%2==0" class="userChat">You say: {{message}}</li>
							<li ng-repeat="message in entry" ng-if="$index%2!=0" class="commyChat">{{communist.firstName}} says: {{message}}</li>
						</ul>


					</div>

					<div class="send input-group">
		 				 <input type="text" class="enterMessage form-control" id="chat" placeholder="Send a message" ng-model="message">
		 				 <span class="input-group-btn">
		 				 <button class="btn btn-danger" ng-click = "sendMessage()">Send</button>

		 				 <button class="btn btn-primary" ng-click = "clearMessage()">Clear</button>
		 				</span>
					</div>
					
				</div>
		</div>
<!-- 				<a class="btn" href="#listview"><button class="btn btn-success">Back</button></a>
 -->
	</div>
</div>
<!-- 		<p>{{communist.quote}}</p>
 -->
<!-- 		<p>{{page}}</p>
 -->

		</div>

</div>