<div class="container">
	<div class="header">
        <ul class="nav nav-pills pull-right">
<!--           <li><a href="#edit">Edit</a></li>
 -->          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <span><h3 class="text-muted"><a href="#/">comrades</a></h3></span>
      </div>
	<div class="form-group">
		<label for="firstName">First Name:</label>
		<input ng-model="UserData.FirstName" class = "form-control" id="firstName"> 
	</div>
	<div class="form-group">
		<label for="lastName">Last Name:</label>
		<input ng-model="UserData.LastName" class = "form-control" id="lastName"> 
	</div>
	<div class="form-group">
		<label for="userName">User Name:</label>
		<input ng-model="UserData.Username" class = "form-control" id="userName"> 
	</div>

	<div class = "row">
		<label class="checkbox-inline">
	  		<input type="checkbox" id="inlineCheckbox1" ng-model="UserData.Hobbies.Archery.value"> Archery
		</label>
		<label class="checkbox-inline">
	  		<input type="checkbox" id="inlineCheckbox2" ng-model="UserData.Hobbies.Astronomy.value"> Astronomy
		</label>
		<label class="checkbox-inline">
	  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Backpacking.value"> Backpacking
		</label>
		<label class="checkbox-inline">
  			<input type="checkbox" id="inlineCheckbox2" ng-model="UserData.Hobbies.Baseball.value"> Baseball
		</label>
	<div>


	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox2" ng-model="UserData.Hobbies.Basketball.value"> Basketball
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Blacksmithing.value"> Blacksmithing
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox2" ng-model="UserData.Hobbies.Cycling.value"> Cycling
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox2" ng-model="UserData.Hobbies.Dodgeball.value"> Dodgeball
	</label>

<!--	</br>

 	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Driving.value"> Driving
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Fishing.value"> Fishing
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Flying.value"> Flying
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Foraging.value"> Foraging
	</label> -->

	<br>

	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Graffiti.value"> Graffiti
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Hiking.value"> Hiking
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Homebrewing.value"> Homebrewing
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Horseshoes.value"> Horseshoes
	</label>

	<br>

	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Hunting.value"> Hunting
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Jogging.value"> Jogging
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Juggling.value"> Juggling
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Kayaking.value"> Kayaking
	</label>

	<br>

	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.LARPing.value"> Larping
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Machining.value"> Machining
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Magic.value"> Magic
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Music.value"> Music
	</label>

	<br>

	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Origami.value"> Origami
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Painting.value"> Painting
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Parkour.value"> Parkour
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Pottery.value"> Pottery
	</label>

	<br>

	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Photography.value"> Photography
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Quilting.value"> Quilting
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Reading.value"> Reading
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Rugby.value"> Rugby
	</label>

	<br>

	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Scouting.value"> Scouting
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Skateboarding.value"> Skateboarding
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Skiing.value"> Skiing
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Scrapbooking.value"> Scrapbooking
	</label>

	<br>

	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Sculpting.value"> Scultping
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Taxidermy.value"> Taxidermy
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Walking.value"> Walking
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Whittling.value"> Whittling
	</label>

	<br>
	
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Woodworking.value"> Woodworking
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Writing.value"> Writing
	</label>
	<label class="checkbox-inline">
  		<input type="checkbox" id="inlineCheckbox3" ng-model="UserData.Hobbies.Yoga.value"> Yoga
	</label>

	<br>
	<br>

		<!-- <div class="controls span2">
			<div class="checkbox">
				<label class="checkbox-inline"><input type="checkbox" name="archery" ng-model="UserData.Hobbies.Archery.value">Archery</label>
			</div>
			<div class="checkbox">
				<label class="checkbox-inline"><input type="checkbox" name="astronomy" ng-model="UserData.Hobbies.Astronomy.value">Astronomy</label>
			</div>
			<div class="checkbox">
				<label class="checkbox-inline"><input type="checkbox" name="backpacking" ng-model="UserData.Hobbies.Backpacking.value">Backpacking</label>
			</div>	
			<div class="checkbox">
				<label class="checkbox-inline"><input type="checkbox" name="baseball" ng-model="UserData.Hobbies.Baseball.value">Baseball</label>
			</div>							
			<div class="checkbox">
				<label class="checkbox-inline"><input type="checkbox" name="basketball" ng-model="UserData.Hobbies.Basketball.value">Basketball</label>
			</div>
		</div>
		
		<div class="controls span2">

		<div class="checkbox">
			<label><input type="checkbox" name="blacksmithing" ng-model="UserData.Hobbies.Blacksmithing.value">Blacksmithing</label>
		</div>	
		<div class="checkbox">
			<label><input type="checkbox" name="cylcing" ng-model="UserData.Hobbies.Cycling.value">Cycling</label>
		</div>			
		<div class="checkbox">
			<label><input type="checkbox" name="dodgeball" ng-model="UserData.Hobbies.Dodgeball.value">Dodgeball</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="driving" ng-model="UserData.Hobbies.Driving.value">Driving</label>
		</div>	
		<div class="checkbox">
			<label><input type="checkbox" name="fishing" ng-model="UserData.Hobbies.Fishing.value">Fishing</label>
		</div>	

		</div>

		<div class="controls span2">
		
		<div class="checkbox">
			<label><input type="checkbox" name="foraging" ng-model="UserData.Hobbies.Foraging.value">Foraging</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="graffiti" ng-model="UserData.Hobbies.Graffiti.value">Graffiti</label>
		</div>	
		<div class="checkbox">
			<label><input type="checkbox" name="hiking" ng-model="UserData.Hobbies.Hiking.value">Hiking</label>
		</div>			
		<div class="checkbox">
			<label><input type="checkbox" name="horseshoes" ng-model="UserData.Hobbies.Horseshoes.value">Horseshoes</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="homebrewing" ng-model="UserData.Hobbies.Homebrewing.value">Homebrewing</label>
		</div>

		</div>

		<div class="controls span2">


		<div class="checkbox">
			<label><input type="checkbox" name="hunting" ng-model="UserData.Hobbies.Hunting.value">Hunting</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="jogging" ng-model="UserData.Hobbies.Jogging.value">Jogging</label>
		</div>		
		<div class="checkbox">
			<label><input type="checkbox" name="juggling" ng-model="UserData.Hobbies.Juggling.value">Juggling</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="kayaking" ng-model="UserData.Hobbies.Kayaking.value">Kayaking</label>
		</div>		
		<div class="checkbox">
			<label><input type="checkbox" name="larping" ng-model="UserData.Hobbies.LARPing.value">LARPing</label>
		</div>		
		<div class="checkbox">
			<label><input type="checkbox" name="machining" ng-model="UserData.Hobbies.Machining.value">Machining</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="magic" ng-model="UserData.Hobbies.Magic.value">Magic</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="music" ng-model="UserData.Hobbies.Music.value">Music</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="origami" ng-model="UserData.Hobbies.Origami.value">Origami</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="painting" ng-model="UserData.Hobbies.Painting.value">Painting</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="parkour" ng-model="UserData.Hobbies.Parkour.value">Parkour</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="pottery" ng-model="UserData.Hobbies.Pottery.value">Pottery</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="photography" ng-model="UserData.Hobbies.Photography.value">Photography</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="quilting" ng-model="UserData.Hobbies.Quilting.value">Quilting</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="reading" ng-model="UserData.Hobbies.Reading.value">Reading</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="rugby" ng-model="UserData.Hobbies.Rugby.value">Rugby</label>
		</div>	
		<div class="checkbox">
			<label><input type="checkbox" name="skateboarding" ng-model="UserData.Hobbies.Skateboarding.value">Skateboarding</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="skiing" ng-model="UserData.Hobbies.Skiing.value">Skiing</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="scouting" ng-model="UserData.Hobbies.Scouting.value">Scouting</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="scrapbooking" ng-model="UserData.Hobbies.Scrapbooking.value">Scrapbooking</label>
		</div>	
		<div class="checkbox">
			<label><input type="checkbox" name="sculpting" ng-model="UserData.Hobbies.Sculpting.value">Sculpting</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="taxidermy" ng-model="UserData.Hobbies.Taxidermy.value">Taxidermy</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="walking" ng-model="UserData.Hobbies.Walking.value">Walking</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="whittling" ng-model="UserData.Hobbies.Whittling.value">Whittling</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="woodworking" ng-model="UserData.Hobbies.Woodworking.value">Woodworking</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" name="writing" ng-model="UserData.Hobbies.Writing.value">Writing</label>
		</div>	
		<div class="checkbox">
			<label><input type="checkbox" name="yoga" ng-model="UserData.Hobbies.Yoga.value">Yoga</label>
		</div>	 -->								

	

	<div class = "buttonBar">
		<a class="btn" href="#/"><button class="btn btn-primary">Back</button></a>
		<a class="btn" href="#listview"><button class="btn btn-success">Submit</button></a>
	</div>
</div>